html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none !important;
    color: $text-color !important;

    /*&:visited {
        color: $text-color;
    }*/

    &:hover {
        color: $gold-background !important;
    }

}

.logo a {
    color: $white;
}

h1 {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 10px;
}

img {
    max-width: 100%;
}
