html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none !important;
    color: $gold-background !important;

    /*&:visited {
        color: $text-color;
    }*/

    &:hover {
        color: darken($gold-background, 10%) !important;
    }

}

.logo a {
    color: $white;
}

h1 {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 10px;
}

img {
    max-width: 100%;
}

.txt-gold {
    color: $gold-background !important;
}