.header-banner {
    background-color: #cc9e38;
    color: white;
    text-align: center;
    padding: 6px 0px;

    .banner-title {
        font-weight: bold;
        letter-spacing: 3px;
    }

    .banner-description {
        font-size: 14px;
    }

    .banner-button {
        padding: 4px 11px;
        border-radius: 16px;
        background-color: white;
        color: #cc9e38 !important;
        font-weight: bold;

        &:hover {
            background-color: black;
        }
    }

    /*a {
        color: indigo !important;
        text-decoration: underline;
    }*/
}
