.header-banner {
    background-color: #cc9e38;
    color: white;
    text-align: center;
    padding: 10px 0px;

    .banner-title {
        font-weight: bold;
        letter-spacing: 3px;
    }

    .banner-description {
        font-size: 14px;
    }

    a {
        color: indigo;
        text-decoration: underline;
    }
}
